body {
  background: url("../images/background-home-desktop.jpg") center center/cover
    no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

main {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto 6rem auto;
}

.details {
  width: 70%;
  color: #fff;
}

.details h2 {
  font-size: 1.7rem;
  color: #D0D6F9;
  font-weight: 100;
}

.details h1 {
  font-size: 9rem;
  margin: 25px 0px;
}

.details p {
  width: 53%;
  font-size: 1.3rem;
  color: #D0D6F9;
}

.explore {
  margin: auto;
}

.explore a {
  background: #fff;
  color: #000;
  text-decoration: none;
  width: 274px;
  height: 274px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: relative;
}

.explore a::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #ffffff1a;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.explore a:hover::before {
  width: 160%;
  height: 160%;
}
